<template name='nav'>

    <div class="menubackground">
      <div class="islands responsive-img">
          <img id="terceira" src="/img/teceira.png">
          <img id="saojorge" src="/img/saojorge.png">
          <img id="santamaria" src="/img/santamaria.png">
          <img id="saomiguel" src="/img/saomiguel.png">
          <img id="pico" src="/img/pico.png">
          <img id="graciosa" src="/img/graciosa.png">
          <img id="flores" src="/img/flores.png">
          <img id="faial" src="/img/faial.png">
          <img id="corvo" src="/img/corvo.png">
      </div>

  </div>


</template>
